.inputBar {
  display: flex;
  gap: 3px;
  
  input {
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-family: 'Sen';
    font-weight: bold;
    border: 3px solid #474E68;
    border-radius: 7px;
    text-align: center;
    caret-color: transparent;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

  .guessButton {
    width: 120px;
    height: 35px;
    border-radius: 8px;
    margin-top: 16px;
    font-size: 22px;
    color: white;
    background-color: #50577A;
    border-color: #50577A;
    border-style: solid;

    &:disabled {
      background-color: #474E68;
      color: grey;
      border-color: #474E68;
      border-style: solid;
    }
  }
}

